<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div class="container" style="text-align :center;">
        <div class="contact-form">
            <h2>Formulir Kontak</h2>
            <form action="" method="POST">
                <label for="name">Nama:</label><br><br>
                <input type="text" id="name" name="name" required><br><br>
    
                <label for="email">Email:</label><br><br>
                <input type="email" id="email" name="email" required><br><br>
    
                <label for="telepon">No Telepon:</label><br><br>
                <input id="telepon" name="telepon" required><br><br>
    
                <label for="message">Pesan:</label><br><br>
                <textarea id="message" name="message" rows="4" required></textarea><br><br>
    
                <button type="submit">Kirim</button>
            </form>
        </div>
    </div>
</body>
</html>